input[type=range] {
    accent-color: white;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

input[type=range]:hover{
    accent-color: #00FFFF;
}

.react-sotring-visualizer-cotainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sorting-options-cotainer{
    display: flex;
    border: 2px solid #00FFFF;
    border-radius: 50px;
    padding: 10px;
    margin-top: 10px;
}

.random-numbers{
    margin-top: 50px;
}

.bar{
    display: inline-block;
    width: 2px;
    background-color: #00FFFF;
    margin-right: 9px;
}

button{
    padding: 5px 25px;
    margin-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }

  button:hover{
    background-color: #00FFFF;
  }