.visualization-container {
    width: 100%;
    height: 100%;
}

.bars-visualizer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: fit-content;
}

.bar-container {
    background-color: var(--accent-color);
    border-radius: 0% 0% 5px 5px;
}

.bar-container.green {
    background-color: green;
}

.bar-container.red {
    background-color: red;
}
